@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
  width: 100%;
}

body{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#C3CBED; 
}
body.mobile{
  background-attachment: fixed;
}
.gradient_border{
  border: 1px solid transparent; 
  border-image: linear-gradient(to right, #9333ea, #3b82f6); 
  border-image-slice: 1; 
}
.dropdown.select-search-container{
  width: 100%;
}
.dropdown.select-search-input{
  border: none;
  border: 1px solid #ced4da;
  border-radius: 5px;
  height: 40px;
}
.dropdown.select-search-input:hover{
  border: 1px solid transparent; 
  border-image: linear-gradient(to right, #9333ea, #3b82f6); 
  border-image-slice: 1; 
  border-radius: 5px;
}
.dropdown.select-search-container:not(.select-search-is-disabled).select-search-has-focus .select-search-input, .select-search-container:not(.select-search-is-disabled) .select-search-input:hover{
  border-color: #ced4da !important;
}
.root{
  width: 100%;
  height: 100%;
}

.dummy{
  font-family: var(--font-aclonica);
}
.pop_r{
  font-family: var(--font-poppins);
  font-weight: 400;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}