

.addicons{
    font-size: 60px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
}
